@use '@/_variables.scss' as var;

.homepage-filter-section {
  row-gap: 16px;
}

@include var.response-to-size(desktop) {
  .homepage-filter-section {
    @include var.display-flex(column);
    
    row-gap: 16px;
  }

  .homepage-filter-card {
    min-width: 300px;
    background-color: var.$light-background;
    border: 1px solid var.$gray;
    padding: 16px;
    border-radius: 8px;

    .form-group {
      display: flex;
      flex-direction: row;

      width: 100%;

      &label {
        width: 100% !important;
      }
    }
  }
}
