@use '@/_variables.scss' as var;

.navigation-container {
  @include var.display-flex();

  padding: 16px;
  width: 100%;

  justify-content: space-between;
}

.navigation-logo-wrapper {
  align-items: center;

  @include var.display-flex();

  .navigation-logo-image {
    margin-right: 1rem;

    height: 3rem;
    width: 3rem;
  }

  a {
    font-size: var.$font-size-large;
    font-family: var.$font-bold;
    text-decoration: none;
    color: var.$primary-color;
  }
}

.navigation-links-wrapper {
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;

  display: none;

  a {
    text-decoration: none;
    color: var.$primary-black;
    font-size: 1.1rem;
    font-family: var.$font-semi-bold;
  
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .selected {
    color: var.$primary-color;
  }
}

@include var.response-to-size(tablet-landscape) {
  .navigation-links-wrapper {
    @include var.display-flex();
  }
}