@use '@/_variables.scss' as var;

.navigation-container {
  @include var.display-flex();

  padding: 12px 16px;
  width: 100%;
  align-items: center;

  box-shadow: 0px 8px 12px 0px rgba(107,107,107,0.125);
  -webkit-box-shadow: 0px 8px 12px 0px rgba(107,107,107,0.125);
  -moz-box-shadow: 0px 8px 12px 0px rgba(107,107,107,0.125);
}

.navigation-logo-wrapper {
  align-items: center;

  @include var.display-flex();

  .navigation-logo-image {
    margin-right: 1rem;

    height: 3rem;
    width: 3rem;
  }

  a {
    font-size: var.$font-size-large;
    font-family: var.$font-bold;
    text-decoration: none;
    color: var.$primary-color;
  }
}

.navigation-links-wrapper {
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;

  display: none;

  a {
    text-decoration: none;
    color: var.$primary-black;
    font-size: 1.1rem;
    font-family: var.$font-semi-bold;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .selected {
    color: var.$primary-color;
  }
}

@include var.response-to-size(tablet-landscape) {
  .navigation-container {
    padding: 16px 32px;
  }

  .navigation-links-wrapper {
    @include var.display-flex();
    margin-left: 32px;
  }
}
