$primary-black: #1d1d1d;
$primary-color: #038767;
$secondary-color: #70d2b4;
$white: #fff;
$light-background: #f8f9fa;

$font-size-small: 0.75rem;
$font-size-regular: 1rem;
$font-size-large: 1.25rem;
$font-size-heading: 2rem;

$font-regular: 'NunitoSans-Regular';
$font-bold: 'NunitoSans-Bold';
$font-semi-bold: 'NunitoSans-SemiBold';

@mixin response-to-size($size) {
  @if $size == phone-small {
    @media (max-width: 399px) {
      @content;
    }
  } @else if $size == phone {
    @media (min-width: 400px) {
      @content;
    }
  } @else if $size == tablet-potrait {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

// Custom styling classes, most used styles
@mixin display-flex($layout: row) {
  display: flex;
  flex-direction: $layout;
}

@mixin display-none() {
  display: none;
}

@mixin default-layout($width) {
  margin: 0 auto;
  max-width: $width;
}
